:root {
  --brand-gray-extra-light: #e7e7e7;
  --brand-gray-light: #a9aeb8;
  --brand-gray-main: #737b8a;
  --base-white: #ffffff;
  --brand-gray: #444242;
  --brand-green: #04a64b;
  --brand-black: #000000;

  --input-brand-gray-light: #6e6e6e;
  font-family: Poppins;
}

.img-base {
  object-fit: scale-down;
}

body {
  font-size: 18px;
  --bs-success: var(--brand-green);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button,
p,
span,
label {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-link {
  color: var(--brand-gray);
}

p {
  color: var(--brand-gray-main);
}

span {
  color: var(--brand-gray-main);
}

label {
  color: var(--brand-gray-main);
}

.text-black {
  color: var(--brand-gray-main);
  font-weight: 400;
  font-size: 1rem;
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.9);
}

.custom-card p {
  color: var(--brand-black);
  font-style: italic;
  font-weight: 400;
}

.custom-card span {
  font-weight: 600;
}
