#section-2 {
  background-image: url("../../imgs/people-on-salon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

#carouselLoginIndicator .carousel-inner {
  margin-top: 120%;
  padding: 1rem;
}
#carouselLoginIndicator .carousel-indicators {
  bottom: -40px;
}

#carouselLoginIndicator .carousel-inner .carousel-item {
  padding: 2rem;
  border-radius: 16px;
}

#section-1 {
  padding-top: 3rem;
  margin-right: 7rem;
}

#login-form {
  border-radius: 16px;
  box-shadow: 20px -14px 48px 0px rgba(0, 0, 0, 0.08);
  border-radius: 25px 25px;
  border-bottom: none;

  background: linear-gradient(
    var(--base-white, #ebeaea),
    var(--base-white, #ffffff)
  );
}

#bottom-buttons-actions {
  margin-top: 10rem;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  #body-section {
    margin-right: 0;
  }
}

@media screen and (max-width: 769px) {
  #section-2 {
    display: none;
  }
  #section-1 {
    margin-right: 0;
    margin-left: 0;
  }
}
