#section-2 {
  background-image: url("../../imgs/people-on-salon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

#carouselLoginIndicator .carousel-inner {
  margin-top: 90%;
}
#carouselLoginIndicator .carousel-indicators {
  bottom: -40px;
}

#carouselLoginIndicator .carousel-inner .carousel-item {
  padding: 2rem;
  border-radius: 16px;
}

#section-1 {
  padding-top: 3rem;
  margin-right: 7rem;
}

#login-form {
  border-radius: 16px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.08);
  border-radius: 25px 25px 0px 0px;
  background: var(--base-white, #fff);
}

#bottom-buttons-actions {
  margin-top: 10rem;
}
